//==============================================
// Global
//==============================================

body {
  font-family: 'Quattrocento', serif;
}

h1, h2, h3, h4, .navbar {
  font-family: 'Oxygen', sans-serif;
}



//==============================================
// Section: About
//==============================================

.body_about {
  padding-top: 5em;
  height: 500px;
}
.body_about .header {
  text-align: center;
  padding-top: 10em;
}
.body_about .image {
  background: url('../img/piano.jpg') no-repeat center;
}
